* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}




/* HOME */


/* Hero section */

#hero-container {
    background-color: rgb(170, 76, 33);
    height: 70vh;
    background-image: url("/photos/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 100px;
    display: flex;
    align-items: center;
}

#hero-box-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 250px 250px;
}


#title-container {
    grid-column: span 1;
    grid-row: span 2;
    display: flex;
    align-items: center; /*Vertikaalisesti keskittää containerin sisällä*/
    padding: 50px;
    border-radius: 15px;
}

h1 {
    font-size: 2.7rem;
    color: white;
    font-weight: 200;
}


#add-new-book-container {
    grid-column: span 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizaontally */ 
    gap: 35px;
    border-radius: 15px;
}

#add-new-btn {
    width: 80%;
    height: 25%;
    color: black;
    background-color: #FFA048;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 100px;
    text-align: center; /* Center text horizontally */ 
}

#add-new-book-container > p {
    font-size: 1.3rem;
    color: white;
    font-weight: 200;
    text-align: center;
}



#quote-container {
    grid-row: span 1;
    color: rgba(0, 0, 0, 0.993);
    background-color: #FFA048;
    border-radius: 15px;
    padding: 50px;

}

#quote {
    font-size: 1.3rem;
}

#quote-name {
    font-size: 1em;
    margin-top: 15px;
}


/* Extras */

.blur-background {
    background-color: rgba(0, 0, 0, 0.67); 
    backdrop-filter: blur(25px); /* Blur background */
    -webkit-backdrop-filter: blur(14px); /* Safari-support for blur */
    border-radius: 15px;
}




/* My book listing */

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 50px;
    margin-left: 100px;
}

#book-item-container {
    font-size: 6rem;
    padding: 50px 100px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-bottom: 0px;
}

#book-item-data-container {
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

#book-item-data-container > p {
    color: rgb(49, 49, 49);
    font-size: 1rem;
    margin-top: 30px;
}

#book-data-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#book-data-container > p {
    color: black;
    font-size: 1rem;
}

#book-img-container {
    padding: 25px;
    padding-right: 0px;
    overflow: hidden; /* Piilota kuvan osat, jotka ylittävät containerin */
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asettaa kuvan peittämään koko elementin */
}

.cover-delete-later {
    font-size: 1rem;
}

#edit-book-data-container {
    padding: 0px 100px;
}

#icon-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 35px;
    margin-top: 35px;
}

/* Määritetään painikkeiden tyyli */
button.edit,
button.delete {
    width: 40px; /* Leveys */
    height: 40px; /* Korkeus */
    border: none; /* Ei reunuksia */
    background-color: #FFA048; /* Vaalean oranssi taustaväri */
    border-radius: 50%; /* Pyöristetyt kulmat, joka tekee ympyrän */
    display: flex; /* Jotta sisältö (kuvake) voidaan keskittää */
    justify-content: center; /* Kuvake keskitetään vaakasuunnassa */
    align-items: center; /* Kuvake keskitetään pystysuunnassa */
    padding: 0; /* Poistetaan ylimääräinen täyttö */
    cursor: pointer;
}

/* Määritetään kuvakkeen tyyli */
button.edit .icon,
button.delete .icon {
    width: 50%; /* Kuvakkeen leveys suhteessa painikkeeseen */
    height: 50%; /* Kuvakkeen korkeus suhteessa painikkeeseen */
    filter: invert(0%); /* Kuvakkeen väri muutetaan mustaksi */
}

hr {
    border: none; /* Poistaa oletusreunan */
    height: 2px; /* Asettaa viivan korkeuden */
    background-color: #00000027; /* Asettaa taustavärin (käytetään tässä viivan värinä) */
}



/* Optimization */

/* Styling for phones */
@media (max-width: 480px) {
    
    /* Hero section | Mobile */
    #hero-container {
        height: 100%;
        padding: 50px 25px;
        display: flex;
        align-items: center;
        background-position: center 30%;
    }

    #hero-box-container {
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr 2fr;
    }


    #title-container {
        display: flex;
        align-items: center; /*Vertikaalisesti keskittää containerin sisällä*/
        padding: 50px;
        border-radius: 15px;
        grid-column: span 1;
        grid-row: span 1;
    }

    h1 {
        font-size: 1.5rem;
    }

    
    #add-new-btn {
        padding: 0px 25px;
        line-height: 50px; /* This should match the height or be adjusted to your needs */
    }
    

    /* My book listing | Mobile */

    h2 {
        margin-top: 50px;
        margin-left: 35px;
    }

    #book-item-container {
        border: 3px solid rgb(112, 3, 255);
        padding: 35px;
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 0px;
    }

    #book-item-data-container {
        border: 1px solid olivedrab;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
    }


    #book-data-container {
        border: 1px solid rgb(2, 225, 255);
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 15px;
    }


    #book-img-container {
        border: 1px solid rgb(255, 0, 191);
        padding: 0px;
        overflow: hidden; /* Piilota kuvan osat, jotka ylittävät containerin */
        margin-top: 25px;
    }


    .cover-delete-later {
        font-size: 1rem;
    }

    #edit-book-data-container {
        border: 1px solid rgb(255, 238, 0);
        padding: 35px;
    }

    #icon-container {
        border: 1px solid rgb(255, 115, 0);
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    hr {
        height: 1px; /* Asettaa viivan korkeuden */
    }


}


/* Styling for tablets */
@media (min-width: 481px) and (max-width: 850px) {

    /* Hero section | Tablet */
    #hero-container {
        height: 100%;
        padding: 50px 25px;
        display: flex;
        align-items: center;
        background-position: center 30%;
    }

    #hero-box-container {
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr 2fr;
    }


    #title-container {
        display: flex;
        align-items: center; /*Vertikaalisesti keskittää containerin sisällä*/
        padding: 50px;
        border-radius: 15px;
        grid-column: span 1;
        grid-row: span 1;
    }

    h1 {
        font-size: 1.5rem;
    }

    #add-new-book-container {
        order: 3;
    }

    
    #add-new-btn {
        padding: 10px 25px;
        line-height: 25px; /* This should match the height or be adjusted to your needs */
        width: 50%;
    }
    

    /* My book listing | Tablet */

    h2 {
        margin-top: 50px;
        margin-left: 35px;
    }

    #book-item-container {
        border: 3px solid rgb(112, 3, 255);
        padding: 35px;
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 0px;
    }

    #book-item-data-container {
        border: 1px solid olivedrab;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
    }


    #book-data-container {
        border: 1px solid rgb(2, 225, 255);
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 15px;
    }


    #book-img-container {
        border: 1px solid rgb(255, 0, 191);
        padding: 0px;
        overflow: hidden; /* Piilota kuvan osat, jotka ylittävät containerin */
        margin-top: 25px;
    }


    .cover-delete-later {
        font-size: 1rem;
    }

    #edit-book-data-container {
        border: 1px solid rgb(255, 238, 0);
        padding: 35px;
    }

    #icon-container {
        border: 1px solid rgb(255, 115, 0);
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 20px;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    hr {
        height: 1px; /* Asettaa viivan korkeuden */
    }


}

