/* HEADER */

#header-container {
    padding: 25px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-title {
    font-size: 1.5rem;
}

#header-link {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

#header-link:hover {
    color: rgb(112, 112, 112);
    transition: color 0.3s ease;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.footer-text {
    font-size: 1rem;
}



/* Optimization */

/* Styling for phones */
@media (max-width: 480px) {
    #header-container {
        padding: 25px;
        display: flex;
        flex-direction: column;
    }

}


/* Styling for tablets */
@media (min-width: 481px) and (max-width: 850px) {
    #header-container {
        padding: 25px 50px;
    }
}
